# Variables públicas (prefijo NEXT_PUBLIC_)
NEXT_PUBLIC_API_URL=https://api.example.com
NEXT_PUBLIC_ANALYTICS_ID=your-analytics-id

RESEND_API_KEY=tu_api_key_aqui
CONTACT_EMAIL=tu@correo.com


# Variables privadas (solo en servidor)
DATABASE_URL=postgresql://user:password@localhost:5432/mydb
JWT_SECRET=your-secret-key
EMAIL_SERVER=smtp.example.com
EMAIL_USER=your-email@example.com
EMAIL_PASSWORD=your-email-password
